<app-nav-bar></app-nav-bar>

<!-- searched videos list -->
<app-video-list *ngIf="lookForStuff().length > 0" [videoList]="lookForStuff()" class="py-3 mx-3 my-3"></app-video-list>

<!-- preview of selected video -->
<app-preview *ngIf="previewService.getSelectedVideo() != undefined" [video]="previewService.getSelectedVideo()"></app-preview>

<!-- genre video bars -->
<app-video-list [videoList]="(videos | async)"></app-video-list>
<app-video-list [videoList]="(videosMusic | async)"></app-video-list>
